[contenteditable] {
  border: 1px solid #000;
  line-height: 1.4em;
  -webkit-appearance: textfield;
  appearance: textfield;
}
img {
  vertical-align: top;
  max-height: 1.4em;
  max-width: 1.4em;
}

[contentEditable="true"]:empty:before {
  content: attr(placeholder);
  opacity: 0.6;
}
