<div class="border border-1 border-[#eaeaea]">

    <div class="flex items-center gap-4 px-4 py-2">
        <div class="flex items-center cursor-pointer">
            <span class=" material-icons-outlined">close</span>
        </div>
        <div class="flex items-center cursor-pointer">
            <span class="material-icons-outlined mr-1">image</span>
            <div>Image</div>
        </div>
        <div class="flex items-center cursor-pointer">
            <span class=" material-icons-outlined mr-1">videocam</span>
            <div>Video</div>
        </div>
        <div class="flex items-center cursor-pointer">
            <span class=" material-icons-outlined mr-1">link</span>
            <div>Link</div>
        </div>
    </div>


</div>